p{
	color:blue;
	text-align:center:

}
h1
{
     color:blue;
	font-size:30px;
    margin-top: 40px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 35%
}
body {
    background-color: lightblue;
}
